<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Архив карт</title>
</head>
<body>
<form action="http://localhost:8080/NoVerified/setCart">
<input type="submit" value="Добавит карту" formenctype="text/plain">
</form>

<form action="http://localhost:8080/NoVerified/getCart">
    <p>Пароль: <input type="password" name="password">  <input type="submit" value="Аккаунт администратора" formenctype="text/plain"></p>

</form>
<form action="http://localhost:8080/Verified/getCartSt">
    <input type="submit" value="Смотреть архив" formenctype="text/plain">
</form>

</body>
</html>